* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.822);
}

.container h1 {
    font-size: 600%;
}

.container p {
    font-size: 150%;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 2%;
}

.button {
    text-decoration: none;
    background-color: rgb(255, 77, 77);
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.822);
    border-radius: 25px;
    font-weight: 1000;
    font-size: 12px;
    margin-bottom: 30px;
}

#hero {
    background-image: url(image/Picture1.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    text-align: center;
}

h2 {
    font-size: 400%;
    text-align: center;
}

#donate-today {
    font-size: 150%;
    padding-top: 15px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 15px;
    text-align: center;
    color: grey;
}

.second {
    padding-top: 60px;
}

.takar-box {
    margin-top: 15px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 30px;
    background-color: rgb(238, 237, 237);
    display: inline-block;
    min-height: 18vh;
    width: 10%;
    border-radius: 10px;
    padding-top: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(102, 102, 102);
}

#special {
    border: 2px solid red;
    color: rgb(255, 77, 77);
}

input {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    width: 600px;
    height: 40px;
}

::placeholder {
    text-align: center;
    color: lightgray;
    font-size: medium;
}

.container-two {
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}